@import "~bootstrap/scss/_functions.scss";
@import "~bootstrap/scss/_variables.scss";
@import "~bootstrap/scss/mixins/_breakpoints.scss";

.o-prompts-display {
  @include media-breakpoint-down(sm) {
    margin: 2px;
    background-size: contain;
    box-shadow: 0 0 2rem 0.05rem black;
    background-image: linear-gradient(rgba(233, 224, 222, 0.75), rgba(233, 224, 222, 0.75)), url("../../../styles/assets/paper-background.webp");
  }

  @include media-breakpoint-up(md) {
    background: none;
  }
}
