.o-prompts-display {
  &__prompt {
    overflow: hidden;
  }

  &__prompt-card {
    overflow: hidden;
    align-content: center;
  }

  &__character-icon {
    color: red;
    align-content: center;
  }
}
