.o-header {
  &__background {
    background: #262026;
    box-shadow: 0 0 12px 4px black;
  }

  &__bars {
    color: #348b98 !important;
    outline: none !important;
  }
  //&.-logged-in {
  //
  //}
}
