.o-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  //image from pixbay https://pixabay.com/photos/paper-texture-scrapbooking-753508/
  //background-image: url("../../../styles/assets/paper-background.webp");
  box-shadow: 0 0 4px 2px black;
  background: #262026;
}
