@import "../styles/custom-bootstrap";
@import "../styles/custom-colours";
@import url("https://fonts.googleapis.com/css?family=Montserrat+Subrayada");
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");
@import url("https://fonts.googleapis.com/css?family=Kaushan+Script");

body {
  background-size: cover;
  //image from pixbay https://pixabay.com/photos/wall-wood-background-2423822/
  background-image: url("../styles/assets/wood-planks.webp");
  font-family: Roboto Condensed, Arial, sans-serif;
}

h1 {
  font-family: Kaushan Script, sans-serif;
  font-size: 4rem;
  color: rgb(225, 225, 225);
}

h2 {
  font-family: Kaushan Script, sans-serif;
}
