.o-decks-display {
  &__deck-background {
    background-size: contain;
    box-shadow: 0 0 2rem 0.05rem black;
    background-image: linear-gradient(rgba(233, 224, 222, 0.75), rgba(233, 224, 222, 0.75)), url("../../../styles/assets/paper-background.webp");
    padding: 1rem;
    text-align: center;
  }

  &__buttons-container {
    width: 100%;
  }
}
